<!DOCTYPE html>


<html>
<link href="/style.css" rel="stylesheet" type="text/css">
<link href="/zig.css" rel="stylesheet" type="text/css">

<head>
    <title><%- title %></title>
  </head>
  <body>

    <!-- Header -->
    <div class="header">
        home
    </div>
    <!-- Markdown content (a post) -->
    <div class="container">
      <%- content %>
    </div>
  </body>
</html>