
 :root {
	--base00: #08131F;
	--base01: #0C1D2F;
	--base02: #08131F;
	--base03: #585858; /* The # */
	/* --base04: #F7F7F8; */
	--base05: #F7F7F8;
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #ab4642;
	--base09: #dc9656;
	--base0A: #f7ca88;
	--base0B: white;
	--base0C: #86c1b9;
	--base0D: #2ae5b9;
	--base0E: #ba8baf;
	--base0F: #a16946;
}
